%h2
  = t("titles.adopt", :thing => t("defaults.thing").titleize)
%p
  = [@thing.tree.species.name, " (diam=", @thing.tree.dbh, (0 != @thing.tree.treatment_id) ? [" ", @thing.tree.treatment.name, "_", @thing.tree.treatment_tagnum].join : "", ")"].join
%p
  = [@thing.tree.addnum, " ", @thing.tree.addstr, " (", @thing.tree.ltlocation.name, " ", @thing.tree.ownership.name, (true == @thing.tree.park) ? " park" : "", ")"].join
%p
  = [@thing.tree.ward.name, " ward"].join
= link_to "Adopt", controller: "things", action: "pledge", id: @thing
