<% content_for :head do %>
<% end %>

<% content_for :actions do %>
  <h1>All Trees</h1>
  <%= render "admin/trees/actions" %>
<% end %>

<!-- Paginated list of records -->
<%= paginate @trees %>
<table>
  <tr>
    <th>Address</th>
    <th>Species</th>
    <th>Owned By</th>
    <th>Name</th>
	<th>Delete</th>
  </tr>
 <% i = 0 %>
<% @trees.each do |tree| %>
	<% i += 1%>
  <tr>
    <td><%= tree.addnum.to_s + " " + tree.addstr %></td>
	<td><%= tree.species.name%></td>
    <td><%= tree.ownership.name %></td>
	<td><%= tree.thing.name%></td>
	<td><%= link_to image_tag("delete-icon.png"), controller: "trees", action: "delete", id: tree.id %>
    </td>
  </tr>
<% end %>
</table>
<%= paginate @trees %>